* {
  background-color: #EB811B;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2? family= Lato & family= Raleway:wght@600 & family= Roboto:ital,wght@1,900 & display=swap');

.contimagen {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.imagen {
  height: 200px;
  width: 280px;
  margin-top: 30px;
}

.botoningreso {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: #EB811B;
  background-color: white;
  border-radius:50px;
  padding: 15px;
  box-shadow: 0 4px 10px black; 
  cursor: pointer;  
}

.botoningreso:hover {
  background-color: #EB811B;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.boton {
  height: 100px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.botonesC {
  display: flex;
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contInput {
    text-align: center;
    margin-top: 70px;
}



.input {
  border: none;
  border-radius: 25px;
  text-align: center;
  background-color: white;
  padding: 5px;
  margin: 20px;
  box-shadow: 0 4px 10px black;
  font-size: 22px; 
  width: 600px;
}

.titulo {
  text-align: center;
   padding-top: 44px;
   color: white;
   font-size: 40px;
   font-family: 'Roboto', sans-serif;
    }