* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #EB811B;
}

@import url('https://fonts.googleapis.com/css2? family= Lato & family= Raleway:wght@600 & family= Roboto:ital,wght@1,900 & display=swap');

h1 {
 text-align: center;
 padding-top: 44px;
 color: white;
 font-size: 40px;
 font-family: 'Roboto', sans-serif;
}

.containerbotones {
  height: 300px;
  width: 100%;
  display: flex;
  margin-top:150px;
  margin-left: auto;
  margin-right: auto;
}

.botonera {
  display: flex;
  display: inline-block;
  align-items: center;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}


.boton {
  display: flex;
  display: inline-block;
  height: 150px;
  width: 300px;
  text-align: center;
  align-items: center;
}

.botoninicio {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: #EB811B;
  background-color: white;
  border-radius:50px;
  padding: 15px;
  box-shadow: 0 4px 10px black; 
  cursor: pointer;
}

.botoninicio:hover {
  background-color: #EB811B;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.boton1 {
  text-align: center;
  border: 1px solid #EB811B;
}

.titulo {
  text-align: center;
   padding-top: 44px;
   color: white;
   font-size: 40px;
   font-family: 'Roboto', sans-serif;
    }

