<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>
<body>
  <section class="principal">
     
  </section>
  <section class="logo">
    <img src="assets/imagenes/financiera.png" alt="">
  </section>
  <nav class="nav_bar">
    <div class="logo_nav"><img src="assets/imagenes/financiera.png" alt=""></div>
    <ul>
      <li><a href="">Inicio</a></li>
      <li><a href="">FAQs</a></li>
      <li><a href="">Nosotros</a></li>
      <li><a href="">Acceder</a></li>
    </ul>
  </nav>
  <section class="main_section">
    <div class="main_section_logo">
      <img src="assets/imagenes/sect_1.png" alt="">
    </div>
    <div class="range_text">
       <form action="/cantidad">
          <input type="range" name="monto" id="">
       </form>
    </div>
  </section>
</body>
</html>