
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presta Facil</title>
    <link rel = "stylesheet" href="assets/css/Cliente.css">
</head>
<body>
    
        
        <h1 class="titulo">ESTADO DE CUENTA</h1>
           
        <section class="fondo" >
        <div class="cuerpotabla">
        <table class="tabla">
        <tr class="cliente">
            <td class="celda">Nombre del cliente</td>
            <td class="celda"><%= usuario%></td>            
        </tr>
        <tr class="cliente">
            <td class="celda">Credito:</td>
            <td class="celda"># 1</td>            
        </tr>
        <tr class="cliente">
            <td class="celda">Valor:</td>
            <td class="celda">500.000 $</td>            
        </tr>
        <tr class="cliente">
            <td class="celda">Fecha:</td>
            <td class="celda">31/12/23</td>            
        </tr>
        <tr class="cliente">
            <td class="celda">15/01/24</td>
            <td class="celda">50.000</td>            
        </tr>
        <tr class="cliente">
            <td class="celda">30/01/24</td>
            <td class="celda">150.000</td>            
        </tr>
        <tr class="cliente">
            <td class="celda">15/02/24</td>
            <td class="celda">40.000</td>            
        </tr>
        </table>
        </div>    
        <div class="boton">
            <a class="botonatras" href="/logout" >Cerrar Sesión</a>
        </div> 
        
        </section>
    
</body>
</html>