
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presta Facil</title>
    <link rel = "stylesheet" href="assets/css/ingresar.css">
</head>
<body>
    <div class="contimagen">
        <img class="imagen" src="assets/imagenes/logo.jpg" alt="logo">
    </div>

    <section class="contInput">
       <form action="/auth" method="post">
         <input type="text" name="usuario" placeholder="Ingresa Tu Usuario"><br>
         <input type="password" name="pass" placeholder="Ingresa Tu Contraseña"><br>
         <input type="submit" value="Entrar">
       </form>
    </section>
</body>
</html>