
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presta Facil</title>
    <link rel = "stylesheet" href="assets/css/registrarse.css">
</head>
<body>
    <section class="registro">
        <h2 class="titulo">INFORMACION PERSONAL</h2>
    
        <form action="/registro" method="post" class="formulario__register">
          <div class="imputC">
           <input type = "text"  required="" placeholder="Nombre completo" name= "nombre" class="imput">
           <input type = "number" required="" placeholder="Cedula" name = "cedula" class="imput"> 
           <input type = "number" required="" placeholder="Telefono"  name = "telefono" class="imput">
           <input type = "text" required="" placeholder="Dirección casa" name = "direccion" class="imput">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
            <label for="archivo">Seleccionar Cámara o Archivo:</label>
            <input type="file" id="archivo" name="archivo" accept="image/*,video/*" capture="camera">
         
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <input type = "submit" required="" placeholder="Cedula" name = "cuenta_de_ahorros" class="imput">Cedula
            <input type = "submit" required="" placeholder="Carta laboral" name = "lugar de desembolso" class="imput">Carta laboral
            <input type = "image" required="" placeholder="Cuenta de servicios" name = "cuenta_de_ahorros" class="imput">Cuenta de servicios
            <input type = "image" required="" placeholder="Lugar de desembolso" name = "cuenta de servicios" class="imput">Lugar de desembolso
            <input type = "image" required="" placeholder="Pagaret" name = "lugar de desembolso" class="imput">Pagaret
            <input type = "image" required="" placeholder="Lugar de trabajo" name = "cuenta_de_ahorros" class="imput">Lugar de trabajo
            <input type = "image" required="" placeholder="Casa de referencia familiar" name = "cuenta de servicios" class="imput">Casa de referencia familiar
            <input type = "submit" required="" placeholder="Confirmación" name = "cuenta de servicios" class="imput">Confirmación
        <div class="tipoRef">
            <h1>TIPO DE REFERECNIA</h1>
            <select name="referencia" id="">
                <option value="familiar">Referencia Familiar</option>
                <option value="personal">Referencia Përsonal</option>
            </select>
        </div>
       
          <input type = "text" required="" placeholder="Referencia familiar" name = "referencia" class="imput"> 
          <input type = "text" required="" placeholder="Telefono referencia familiar" name = "telefono_ref" class="imput">
          <input type = "text" required="" placeholder="Dirección referencia familiar" name = "direccion_ref" class="imput">
          <input type = "text" required="" placeholder="Referencia familiar" name = "ref_pers" class="imput">
          <input type = "text" required="" placeholder="Telefono referencia familiar" name = "tel_ref_per" class="imput">
          <input type = "text" required="" placeholder="Dirección referencia familiar" name = "dir_ref_per" class="imput">
          <input type = "image" required="" placeholder="Casa de referencia personal 2" name = "cuenta_serv" class="imput">Casa de referencia personal 2
          <input type="submit" value="Registrar" class="boton">
       </form> 
       
    </div>
    
    <div class="boton">
        <a class="botoninicio" href="../Presta Facil/index.html" >Guardar</a>
    </div> 
    </form>
    </section>
</body>
</html>